<section>
  <article>
    <h1>{{this.planetData.name}}</h1>
    <img src="{{this.planetData.filename}}" alt="{{this.name}} picture">
    <h4>{{this.planetData.distance}}</h4>
    <h4>{{this.planetData.description}}</h4>
    <h4>{{this.planetData.temperature}}</h4>
    <h4>{{this.planetData.weather}}</h4>
    <h4>{{this.planetData.interest}} people are interested -
      <form  id="interest-form" action="/interest/{{this.planetData.id}}" method='GET'>
        <input type="submit" name="submit"  class="interest-button">Are you?
      </form>
    </h4>
  </article>
</section>

<section>

<h2>
  {{this.reviewArray.length}} people went to {{this.planetData.name}}. This is what they thought -
</h2>
{{#each reviewArray}}
  <article>
    <h3>{{this.username}}</h3>
    <h4>{{this.content}}</h4>
      Thumbs up: {{this.likes}}
      Thumbs down: {{this.dislikes}}

  </article>
{{/each}}
</section>
