<section>
  <article class="planet-info">
    <h1>{{this.planetData.name}}</h1>
    <img src="{{this.planetData.filename}}" alt="{{this.name}} picture">
    <ul>
      <li>{{this.planetData.distance}}au from Earth</li>
      <li>{{this.planetData.description}}</li>
      <li>{{this.planetData.temperature}} Kelvin</li>
      <li>{{this.planetData.weather}}</li>
    </ul>
    <h3>{{this.planetData.interest}} people want to go here
      <form id="interest-form" action="/interest/{{this.planetData.id}}" method='GET'>
        <input type="submit" name="submit" value="Do you?" class="interest-button">
      </form>
    </h3>
  </article>
</section>
<section class="reviews">
  <h2>{{this.reviewArray.length}} people left a review for {{this.planetData.name}}. This is what they thought -</h2>
  {{#each reviewArray}}
    <article class="each-review">
      <h3>"{{this.content}}"</h3>
      <p>- {{this.username}}</p><br />
      <p>{{this.likes}} people like this review :)</p>
      <form id="thumbs-form" action="/thumbsup/{{this.id}}" method='GET'>
        <input type="submit" name="submit" value="Thumbs Up" class="thumbs-button">
      </form>
      <p>{{this.dislikes}} people thought this review sucked :(</p>
      <form id="thumbs-form" action="/thumbsdown/{{this.id}}" method='GET'>
        <input type="submit" name="submit" value="Thumbs Down" class="thumbs-button">
      </form>
    </article>
  {{/each}}
</section>
<section class="add-review">
  <p>Been here? Add a review.</p>
  <form id="add-review" action="/add-review" method='POST'>
    <input type="text" placeholder="Write your own review here">
    <input type="text" placeholder="Username">
    <input type="submit" name="submit" value="Submit" class="review-button">
  </form>
</section>
