<section>
  {{#each planetsList}}
  <article class="results">
    <img src="{{this.filename}}" alt="{{this.name}} picture">
    <h3><a href="/planets/{{this.id}}">{{this.name}}</a></h3>
    <p>{{this.distance}}au from Earth</p>
  </article>
  {{/each}}
</section>
